$mainDark: #111b1c;
$mainGreyDark: #1c2b2c;
$mainLightDark: #202020;
$mainSoftGrey: #f1f1f1;
/*$mainGrey: #9e9e9e;*/
$mainGrey: #747474;
$mainDarkGrey :#516600;
$mainLightGrey: #455c64;
$mainBlue: #0099cc;
$mainLightBlue: #00b6f2;
$mainDarkBlue: #005977;
$green: #98b815;

$paddingVertical: 2.2rem;
$paddingHorizontal: 13px;