<div id="event_prototype" style="display: none">

    <div id="" class="event">
        <img class="lazyload blur-up" sizes="(max-width: 760px) 50vw, 90vw"
                src="" alt="">
        <div class="event__description">
            <h4 class="event__title"></h4>
            <p class="event__description__text"></p>
        </div>
        <div class=" event__button wrapper--center-text">
            <button class="btn"
                    data-event-expand=""
                    data-event="">Ver más
            </button>
        </div>
    </div>

    <div class="grid-event__expand">
        <div id="" class="event__expand">
        <div>
            <div class="event__expand__close btn__close"></div>

            <div class="event__expand__carousel gallery" >
                <div class="event__expand__carousel__cell gallery__item">
                    <img
                            class="event__expand__image lazyload blur-up"
                            src=""
                            sizes="(max-width: 799px) 90vw, 100vw"
                            data-srcset=""
                            alt="">
                </div>
            </div>
            <div class="wrapper">
                <h3 class="event__expand__title"></h3>
                <h4 class="event__expand__subtitle"></h4>
                <p class="event__expand__text"></p>
                <a data-collapse="true" href="">
                    <div class="btn__collapse">
                    </div>
                </a>
            </div>
        </div>
    </div>
    </div>
</div>