<div id="news_prototype" style="display: none">
    <div class="info-block">
        <div id="" class="row row--equal-height row--gutters-bottom news">
            <div class="row__large-6 news__image">
                <img class="lazyload blur-up"
                     src=""
                     sizes="(max-width: 1300px) 100vw, 50vw"
                     data-srcset=""
                     alt="">
            </div>

            <div class="row__large-6 news__text">
                <div class="info-block__description">
                    <a href="">
                        <h3 class="info-block__description__title"></h3>
                    </a>
                    <h4 class="info-block__description__subtitle"></h4>

                    <div class="info-block__description__share">
                        <a target="_blank" rel="noopener" href="" class="fb-xfbml-parse-ignore">
                            <img src="{{ asset('images/icons/facebook_blue.svg') }}" alt="facebook logo">
                            Compartir en Facebook
                        </a>
                    </div>

                    <p class="info-block__description__text"></p>
                    <div class="wrapper--center-text info-block__description__link">
                        <a class="btn btn--blue" href="">Descargar bases</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>