<div id="poster_prototype" style="display: none">
    <div class="row-6 row__medium-4 row__large-3 row__xlarge-2 poster__item"
         data-controller="poster">
        <div class="poster__item__overflow">
            <a href=""
               data-poster-id=""
               data-poster-big=""
               data-poster-max-width=""
               data-poster-img=""
               data-poster-img-details1-max-width=""
               data-poster-img-detail1=""
               data-poster-img-details2-max-width=""
               data-poster-img-detail2=""
               data-poster-title=""
               data-poster-author=""
               data-poster-year=""
               data-poster-description=""
            >
                <img
                        class="lazyload blur-up"
                        decoding="async"
                        sizes="(max-width: 530px) 50vw, (max-width: 800px) 33.33vw, 25vw"
                        src=""
                        data-srcset=""
                        alt="">
            </a>
            <div class="poster__like btn__like">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="#fff">
                    <path fill-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" clip-rule="evenodd"/>
                </svg>
            </div>
        </div>
        <noscript>
            <img src="" alt="">
        </noscript>

        <p class="poster__item__author"></p>
    </div>
</div>