<div id="poster_prototype" style="display: none">
    <div class="row-6 row__medium-4 row__large-3 row__xlarge-2 poster__item">
        <div class="poster__item__overflow">
            <a href=""
               data-poster-id=""
               data-poster-big=""
               data-poster-max-width=""
               data-poster-img=""
               data-poster-img-details1-max-width=""
               data-poster-img-detail1=""
               data-poster-img-details2-max-width=""
               data-poster-img-detail2=""
               data-poster-title=""
               data-poster-author=""
               data-poster-year=""
               data-poster-description="">
                <img
                        class="lazyload blur-up"
                        decoding="async"
                        sizes="(max-width: 530px) 50vw, (max-width: 800px) 33.33vw, 25vw"
                        src=""
                        data-srcset=""
                        alt="">
            </a>
        </div>
        <noscript>
            <img src="" alt="">
        </noscript>

        <p class="poster__item__author"></p>
    </div>
</div>