<div id="posterEvent_prototype" style="display: none">
    <div class="row-6 row__medium-4 row__large-3 row__xlarge-2 poster__item poster__item--no-hover"
         data-description="">
        <img class="lazyload blur-up"
             decoding="async"
             sizes="(max-width: 760px) 50vw, 25vw"
             src=""
             data-srcset=""
             alt="">
    </div>
</div>