<div id="video_prototype" style="display: none">
    <div class="row__medium-6 video__item">
        <iframe
                class="lazyload"
                width="560"
                height="411"
                data-src=""
                style="border:none;overflow:hidden"
                scrolling="no"
                frameborder="0"
                allowTransparency="true"
                allowFullScreen>
        </iframe>
    </div>
</div>