.event{
    position: relative;
    overflow: hidden;
    margin: 0.25em 0.25em;
    height: auto;
    min-height: 45vh;
    display: flex;
    float: none;

    @include atMedium{
        min-height: 80vh;
    }

    @include atLarge{
        min-height: 50vh;
    }

    &--center{
        @include atMedium {
            left: 50%;
        }
    }

    img{
        position: absolute;
        width: 250%;

        @include atLarge {
            width: 100%;
            height: 100%;
        }
    }

    &__title{
        opacity: 1;
        color: #fff;
        text-align: center;
        font-size: 1.4rem;
    }

    &__description{
        position: absolute;
        top: 0;
        width: 100%;

        @include atLarge{
            top: 25%;
        }

        &__text{
            text-align: center !important;
            color: #fff;
            margin: 3em auto;
            opacity: 1;
        }
    }

    &__button{
        position: absolute;
        bottom: 1.5em;
        left: 50%;
        transform: translateX(-50%);
        transition: all .5s ease-in-out;
    }

    @keyframes enterIn {
        from {
            opacity: 0;
            transform: scale(1.2);
        }
        to{
            opacity: 1;
            transform: scale(1);
        }
    }

    &__expand{
        display: none;
        opacity: 0;
        background-color: $mainDark;
        position: relative;
        color: #fff;
        margin-left: -13PX;
        margin-right: -13px;
        animation: .3s ease-out 1 fadeOut;
        padding-top: 2em;

        @include atSmall {
            content: "";
            clear: both;
            padding-bottom: 6rem;
            margin-left: calc(-65px - 13px);
            margin-right: calc(-65px - 13px);
        }

        &__carousel{
            overflow: hidden;
            margin: auto;

            @include atLarge{
                width: 85%;
            }
        }

        &__image{            
            width: 100%;            
            height: 40vh;
            object-fit: cover;

            @include atLarge{
                height: 70vh;
            }
        }

        &__content {
            width: 98%;
            margin: auto;

            @include atLarge{
                width: 75%;
            }

            &__title {
                font-size: 1.5em;
                margin-bottom: 10px;
            }

            &__subtitle {
                font-size: 1.25em;
                margin-top: 0;
            }

            &__text {
                color: #fff;
            }
        }

        &--visible{
            position: relative;
            opacity: 1;
            display: flex;
            animation: .3s ease-in 1 enterIn;
            top: -0.25em;

            &__first-event{
                margin-top: -3em;
            }
        }
    }

    &--visible{

        .event__title{
            opacity: 0;
        }

        .event__description__text{
            opacity: 0;
        }

        .event__button{
            position: absolute;
            width: 3em;
            height: 3em;
            bottom: -1.75em;
            background-color: $mainDark;
            transform: translate(-50%, -50%);     
            border-radius: 50%;
            z-index: 1;

            &--event-0{
                bottom: -1em;

                @include atSmall {
                    bottom: -3em;
                }
            }

            & button{
                display: none;
            }

            &::before{
                content: '';
                width: 1.5em;
                height: .3em;
                background-color: white;
                position: absolute;
                top: 40%;
                left: 46%;
                transform: translateY(-50%) translateX(-50%) rotate(45deg);
                transform-origin: 0 0;
            }

            &::after{
                content: '';
                width: 1.5em;
                height: .3em;
                background-color: white;
                position: absolute;
                top: 40%;
                right: 46%;
                transform: translateY(-50%) translateX(50%) rotate(-45deg);
                transform-origin: 100% 0;
            }
        }

    }
}