.footer{
    background-color: $mainBlue;
    padding-top: 3em;
    
    & div.row{
        display: flex;
        flex-wrap: wrap;
    }

    &--subsection{
    
        @include atSmall {
            padding-bottom: 1rem;
            width: 80%;
        }

        &--m-t{
            margin-top: 1.5rem;
        }
    }

    &__logo{
        img{
            width: 50%;
            left: 50%;
            transform: translateX(-50%);
            position: relative;

            @include atSmall {
                width: 100%;
                left: auto;
                transform: none;
                height: auto;    
            }
            
        }
    }

    &__subscription{
        position: relative;

        &__form{
            text-align: center;
            margin: 4rem auto;
            margin-bottom: 0;
            opacity: 1;
            transition: opacity .3s ease-in-out;

            &--no-visible{
                opacity: 0;
                z-index: -1;
            }
            
            &__item{
                border: 0;
                padding: 1rem;
                color: #fff;
                font-size: .8rem;
                text-transform: uppercase;
            }
        
            input[type="email"]{
                background-color: $mainDarkBlue;
                text-transform: lowercase;
            }
        
            input[type="submit"]{
                background-color: $mainLightBlue;
                margin-left: -5px;
                font-weight: 600;
                cursor: pointer;
            }
        }
        &__message{ 
            opacity: 0;
            transition: opacity .3s ease-in-out;
            position: absolute;
            top: 60%;
            z-index: -1;

            &--visible{
                opacity: 1;
                z-index: 1;
            }
        }


    }

    &__contact{
        margin: 0 auto;
        
        &__item{
            margin: 1.5rem auto;

            p{
                text-align: left;
                max-width: 85%;   
                margin: 0 2em;   
                font-style: normal;      
            }
    
            img{
                height: 1rem;
                float: left;
                width: auto;
                top: 5px;
                position: relative;

                @include atSmall {
                    height: 1.5rem;
                }
            }

            a{
                color: $mainDarkBlue;
            }
        }

    }

    &__social-networks{
        margin: auto;

        @include clearfix;

        ul{
            list-style: none;

            li{
                float: left;
                width: 2rem;
                height: 2rem;
                margin: .3rem .5rem;
            }
        }
    }

    p{
        color: $mainDarkBlue;
        font-weight: 300;

        @include atSmall {
            font-size: 1.2rem;
        }
    }

    &__copyright{
        p{
            font-size: .8rem;
            text-align: center;
        }
    }

    &__authors{
        background-color: $mainDarkBlue;
        padding: 1rem;

        p{
            margin: 0;
            color: #fff;
            font-size: .8rem;
            text-align: center;
        }
    }
}