.grid-event{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100% 100% 100% 100%;

    @include atMedium {
        grid-template-columns: 50% 50% 100% 100%;
        grid-template-rows: 100% 100%;
    }

    &__first{
        @include atMedium {
            grid-column-start: 1;
            grid-column-end: 2;

        }
    }

    &__second{
        @include atMedium {
            grid-column-start: 2;
            grid-column-end: 3;
        }
    }

    &__expand{
        @include atMedium {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 2;
        }
    }
}