.poster-big{
    transform: scale(1);
    opacity: 0;
    z-index: -1;
    font-weight: 300;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(#fff, .98);
    transition: all .25s ease-in-out;  

    &__content{
        display: flex;
        flex-wrap: wrap;

        @include atMedium{
            display: block;
        }

        & .poster-big__details{
            order: 2;
            height: auto;
            width: 90vw;

            @include atMedium{
                height: 100vh;
                width: auto;
            }

            &__items{
                display: flex;
                
                @include atMedium{
                    display: block;
                }

                & a{
                    margin: auto;
                }
            }

        }

        &__image{
            order: 1;
        }

        &__description{
            order: 3;
        }
    }

    &__overflow-scroll-y{
        overflow-y: scroll;
        overflow-x: hidden;
        max-height: 105vh;        

        @include atMedium {
            overflow-y: hidden;
        }
    }

    & img{
        max-height: 70vh;        
        margin: auto;
        margin-top: 5%;
        width: auto;
        max-width: 100%;
        border: 1px grey solid;

        @include atSmall {
            max-height: 90vh;
        }
    }

    &__details{
        position: relative;
        height: 100vh;

        &__items{
            position: relative;
            top: 50%;
            left: 50%;
            transform: translateY(-50%);


            & img{
                width: 75px;
                height: auto;
            }

            &__image{
                &--none{
                    display: none;
                }
            }
        }

    }

    &__description{
        position: relative;
        left: 50%;
        transform: translateX(-50%);

        @include atMedium {
            position: absolute;
            top: 50%;
            transform: translateY(-50%) translateX(0);
            left: auto;
        }

        &__overflow-scroll-y{
            @include atMedium {
                max-height: 70vh;
                overflow-y: auto;
                width: 75%;
            }
        }

        &__title{
            display: initial;
        }

        &__share{
            margin: 0 1em;

            & img{
                width: 2.5em;
                border: 0;
            }
        }

        &__text{
            margin-bottom: 3em;

            @include atMedium {
                margin-right: 2em;  
            }            
        }

    }

    &--is-visible{
        transform: scale(1);
        z-index: 10;
        opacity: 1;
    }

    &__prev, &__next{
        display: block;

        &.hide{
            display: none;
        }
    }
}
