.row{

    @include clearfix;

    &--center{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    &--gutters {        
        margin-bottom: -20px;

        @include atSmall {
            margin-right: -20px;
        }
    }

    &--gutters > div{        
        padding-bottom: 0px;
        padding-right: 15px;

        @include atMedium {
            padding-right: 20px;
            padding-bottom: 20px;
        }        
    }

    
    &--gutters-bottom:last-child{
        padding-bottom: 20px !important;
    }

    &--gutters-bottom-child > div{
        padding-bottom: 5px !important;
    }

    &-6{
        float: left;
        width: 50%;
    }

    @include atMedium {

        &--gutters {
            margin-right: -50px;
            margin-bottom: -50px;
        }
    
        &--gutters > div{
            padding-right: 50px;
            padding-bottom: 50px;
        }      
        
        &--gutters > div:first-child{
            padding-bottom: 0px;
        }

        &__medium-2{
            float: left;
            width: 16.666%;
        }

        &__medium-3{
            float: left;
            width: 25%;
        }

        &__medium-4{
            float: left;
            width: 33.333%;
        }

        &__medium-5{
            float: left;
            width: 41.666%;
        }

        &__medium-6{
            float: left;
            width: 50%;
        }
    
        &__medium-7{
            float: left;
            width: 58.333%;
        }

        &__medium-8{
            float: left;
            width: 66.666%;
        }

        &__medium-12{
            float: left;
            width: 100%;
        }
    }

    @include atLarge{

        &--gutters > div:first-child{
            padding-bottom: 50px;
        }

        &__large-2{
            float: left;
            width: 16.666%;
        }

        &__large-3{
            float: left;
            width: 25%;
        }

        &__large-4{
            float: left;
            width: 33.333%;
        }

        &__large-5{
            float: left;
            width: 41.666%;
        }

        &__large-6{
            float: left;
            width: 50%;
        }
    
        &__large-8{
            float: left;
            width: 66.666%;
        }
    }

    @include atXLarge{

        &__xlarge-2{
            float: left;
            width: 20%;
        }
    }

    &--equal-height{

        @include atMedium {
            display: flex;
            flex-wrap: wrap;

            & div[class^='row']{
                float: none;
                display: flex;
                
                & > img{
                    height: 100%;
                }
            }    
        }
    }

}