.section{
    padding: 1.5em 0;

    &__container{
        margin-bottom: 3em;
    }

      
    &__title{
        text-align: center;
        font-weight: 700;
        padding-bottom: 1rem;
        margin-bottom: 2rem;
    }

    &--light-dark{
        background-color: $mainLightDark;
        color: #fff;
    }
}