.icon{
  background-image: url('/temp/sprite/css/sprite-832c8f83.svg');
  display: block;
}

  .icon--colapsar {
    width: 35.908px;
    height: 26.5px;
    background-position: 99.9145547598284% 0;
  }
  .icon--facebook {
    width: 30px;
    height: 30px;
    background-position: 98.63130434782609% 4.1864139020537126%;
  }
  .icon--instagram {
    width: 30px;
    height: 30px;
    background-position: 98.63130434782609% 8.925750394944707%;
  }
  .icon--logo_footer {
    width: 436.478px;
    height: 427.479px;
    background-position: 0 99.8573375622556%;
  }
  .icon--logo_header {
    width: 453.704px;
    height: 235.185px;
    background-position: 0 0;
  }
  .icon--marker {
    width: 30px;
    height: 30px;
    background-position: 98.63130434782609% 13.665086887835702%;
  }
  .icon--message {
    width: 30px;
    height: 30px;
    background-position: 98.63130434782609% 18.404423380726698%;
  }
  .icon--phone {
    width: 30px;
    height: 30px;
    background-position: 98.63130434782609% 23.143759873617693%;
  }
  .icon--twitter {
    width: 30px;
    height: 30px;
    background-position: 98.63130434782609% 27.88309636650869%;
  }
