<header class="header">
    <div class="wrapper">
        <div class="header__logo">
            <a href="#start">
                <img src="{{ asset('images/icons/logo_header.svg') }}" alt="logo">
            </a>
        </div>

        <div class="header__menu-icon">
            <div class="header__menu-icon__middle"></div>
        </div>

        <div class="header__menu-content">
            <nav class="nav nav--pull-right">
                <ul>
                    <li id="start-link">
                        <a href="#start">Inicio</a>
                    </li>

                    <li id="us-link">
                        <a href="#us">Nosotros</a>
                    </li>

                    <li id="news-link">
                        <a href="#news">Noticias</a>
                    </li>

                    <li id="posters-link">
                        <a href="#posters">Carteles</a>
                    </li>

                    <li id="events-link">
                        <a href="#events">Eventos</a>
                    </li>

                    <li id="videos-link">
                        <a href="#videos">Video Galer&iacute;a</a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>
</header>