<div class="poster-big">

    <div class="poster-big__close btn__close"></div>

    <div class="poster-big__prev btn__prev"></div>
    <div class="poster-big__next btn__next"></div>

    <div class="wrapper">
        <div class="poster-big__overflow-scroll-y">
            <div class="row row--gutters poster-big__content">
                <div class="row__medium-2 poster-big__details">
                    <div class="poster-big__details__items">
                        <a href="#" class="poster-big__details__items__link__0" data-img="" data-img-max-width="">
                            <img class="poster-big__details__item__image__0">
                        </a>
                        <a href="#" class="poster-big__details__items__link__1" data-img="" data-img-max-width="">
                            <img class="poster-big__details__item__image__1">
                        </a>
                        <a href="#" class="poster-big__details__items__link__2" data-img="" data-img-max-width="">
                            <img class="poster-big__details__item__image__2" src="" data-srcset="" >
                        </a>

                    </div>
                </div>
                <div class="row__medium-5 poster-big__content__image">
                    <img class="poster-big__image" sizes="(max-width: 760px) 100vw, 50vw" alt="">
                </div>
                <div class="row__medium-5 poster-big__content__description">
                    <div class="poster-big__description">
                        <h3 class="poster-big__description__title">Poster Title / Year </h3>

                        <div class="poster-big__description__share">
                            <a target="_blank" href="" class="fb-xfbml-parse-ignore">
                                Compartir
                            </a>
                        </div>

                        <h4 class="poster-big__description__subtitle">Poster Subtitle</h4>

                        <div class="poster-big__description__overflow-scroll-y">
                            <p class="poster-big__description__text">Lorem ipsum dolor sit amet
                                consectetur adipisicing elit. Non nemo architecto dicta
                                illum illo? Quis voluptatibus?</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>